body{
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
button{
    width: 200px;
    height: 40px;
    background-color: cornflowerblue;
    color: white;
    font-family: cursive;
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
    cursor: pointer;
}
ul,li{
    list-style-type: none;
}
li{
    display: flex;
    align-items: center;
}
